.Home {
    max-width: 450px;
    padding: 20px;
    margin: 0 auto;
    color: #040203;
}

.header {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #040203;
}

@media only screen and (max-width: 450px) {
    .container {
        width: calc(100% - 30px);
        margin: 15px;
    }
  }
