body {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5c465+1,fbf6d2+13 */
background: #f5c465; /* Old browsers */
background: -moz-linear-gradient(top,  #f5c465 1%, #fbf6d2 13%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f5c465 1%,#fbf6d2 13%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f5c465 1%,#fbf6d2 13%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c465', endColorstr='#fbf6d2',GradientType=0 ); /* IE6-9 */

  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  background-color:#10242c;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn {
  font-weight: bold;
}
.my-btn-color {
  background-color: #f5c465;
  color: #fbf6d2;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
